.message{
    width: 100%;
    padding: 2rem;
    background-color: rgba(8, 8, 141, 0.148);
    display: flex; align-items: center; justify-content: center;
    .forma{
        background-color: white;
    }
}