.nextui-c-hhqfap{
  background-color:rgba(255, 0, 0, 0.004);
  .nextui-c-egxOLa{
    background-color: rgba(0, 0, 0, 0);
    .light{
      color: white;
    }
  }
  .nextui-c-PJLV-ikpPLrz-css{
    display: flex;
    cursor: pointer;  
  }
  .nextui-c-dGYPDG-hHixqa-enableCursorHighlight-true {
    display: flex;
    @media(max-width: 530px){
      width: 50%;
      gap:7%;
      font-size: 0.9rem;
    }
  }
}

.nextui-c-iTPCAT{
  // background-color: black;
  .nextui-c-jklhtj{
    background-color: transparent;
    overflow-y: visible;
  }
}
// .nextui-c-egxOLa{
//   .nextui-c-jklhtj{
//     .nextui-c-kOXsPe{
//       a{
//         color: red;
//       }
//     }
//    }
// }
 
